<!DOCTYPE html>
<html>
   <head>
      <script
         src="https://code.jquery.com/jquery-3.2.1.min.js"
         integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link rel="stylesheet" href="/css/show.css">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta charset="utf-8">
      <title></title>
   </head>


   <body>


     <ul id="userOptions" class="dropdown-content">
        <li><a href="/main">Main</a></li>
        <% if(permissions == true){%>
          <li><a href="/cpanel/">Cpanel</a></li>
        <%}%>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <div class="navbar-fixed">
     <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">ShopEZ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <% if(show == true){%>
            <li><a class="dropdown-button" href="#!" data-activates="userOptions"><%= navBarText %><i class="material-icons right">arrow_drop_down</i></a></li>
          <%}else{%>
            <li><a href="<%= link %>" class=""><%= navBarText %></a></li>
          <%}%>
        </ul>
      </div>
    </nav>
  </div>

    <div id="modal1" class="modal" style="width:67%;">
      <div class="modal-content">
        <form id="walSearch">
          <div class="container-fluid">
            <div class="row">
              <div class="col s9">
                <input type="text" id="walmartSearch" name="walmartSearch" placeholder="search for a shopping list item to add">
              </div>
              <div class="col s3">
                <button type="submit" class="btn bttn" name="searchSubmit">Search</button>
              </div>
            </div>
            <div class="row">
              <ul id="searchList" class="collapsible" data-collapsible="accordion">
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
  </div>

     <div class="container">


       <div class="row">
         <div class="col s7">
           <h2>View/Edit List</h2>
         </div>
         <div class="col s5">
           <a id="itemAddBtn" class="btn btttn"><i class="material-icons">add</i>Add New List Item</a>
         </div>
       </div>


       <div class="row">
         <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="material-icons">toc</i>List Details</div>
            <div class="collapsible-body">
              <span>description: <%= userLists[0].description %> <br>
                created: <%= dayParse(userLists[0].created_at) %> <br>
                last updated: <%= dayParse(userLists[0].created_at) %>
              </span></div>
          </li>
          <%listContent.map((x) => { %>
            <% if (x.completed) { %>
              <li class="listContent completed">
                <div class="collapsible-header"><i class="material-icons">check</i><%= x.item_name %></div>
                <div class="collapsible-body">
                  <span>
                    <h3 style="display:inline;"><%= x.sale_price %></h3> at <a href=<%= x.product_url %>>WalMart</a>
                  </span>
                </div>
              </li>
            <% } else { %>
              <li class="listContent incomplete">
                <div class="collapsible-header"><i class="material-icons">schedule</i><%= x.item_name %></div>
                <div class="collapsible-body">
                  <span>
                    <h3 style="display:inline;"><%= x.sale_price %></h3> at <a href=<%= x.product_url %>>WalMart</a>
                  </span>
                </div>
              </li>
            <% } %>
          <% }); %>
        </ul>
       </div>

     </div>
      <div class="fixed-action-button" style="position:absolute; bottom:0; right:0; margin-right:3;">
       <a id="menu" class="btn-floating btn-large grey darken-3">
         <i class="large material-icons">info</i>
       </a>
      </div>

     <div class="tap-target" data-activates="menu">
       <div class="tap-target-content">
         <h5>Title</h5>
         <p>A bunch of text</p>
       </div>
     </div>
     <script type="text/javascript">
      let listId = "<%= userLists[0].id %>";
       let showHelp = +'<%= userListsLength %>'< 1;
       showHelp ? $('.tap-target').tapTarget('open') : null;
     </script>

     <script type="text/javascript" src="/scripts/show.js">
     </script>
   </body>
</html>
